{% extends 'base.html.twig' %}

{% block title %}Version{% endblock %}

{% block body %}
    <h1>Version</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ version.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ version.name }}</td>
            </tr>
            <tr>
                <th>SirenNumber</th>
                <td>{{ version.sirenNumber }}</td>
            </tr>
            <tr>
                <th>CityOfRegistration</th>
                <td>{{ version.cityOfRegistration }}</td>
            </tr>
            <tr>
                <th>Registration</th>
                <td>{{ version.registration ? version.registration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capital</th>
                <td>{{ version.capital }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ version.updatedAt ? version.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('version_index') }}">back to list</a>

    <a href="{{ path('version_edit', {'id': version.id}) }}">edit</a>

    {{ include('version/_delete_form.html.twig') }}
{% endblock %}
