{% extends 'base.html.twig' %}

{% block pageTitle %} Archive des sociétés {% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>SirenNumber</th>
            <th>CityOfRegistration</th>
            <th>Registration</th>
            <th>Capital</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td>{{ version.name }}</td>
                <td>{{ version.sirenNumber }}</td>
                <td>{{ version.cityOfRegistration }}</td>
                <td>{{ version.registration ? version.registration|date('Y-m-d') : '' }}</td>
                <td>{{ version.capital }}</td>
                <td>{{ version.updatedAt ? version.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('version_show', {'id': version.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
