{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block pageTitle %}Welcome!{% endblock %}
{% block body %}

    <div class="login_register_wrap section">
        <div class="container">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Create an Account</h3>
                            </div>
                            {{ form_start(registrationForm) }}
                                <div class="form-group">
                                    {{ form_row(registrationForm.username) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(registrationForm.plainPassword, {
                                        label: 'Password'
                                    }) }}
                                </div>
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            {{ form_row(registrationForm.agreeTerms) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-success" name="register">Register</button>
                                </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
